#ele1{
    cursor: pointer;
    background-color: green;
    font-size: 24px;
}

div{
    font-size: 24px;
}


/* Codio de pagina de 4_colores.html*/


.rojo, .azul, .verde, .amarillo{
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}

.cambiarBlack{
    background-color: black;
}


/* Codio de pagina de variable global*/

#key{
    height: 200px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.contenedor{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border: black;
}

.contenedorsito{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    border: black;
}

.contenedor3{
    height: 200px;
    width: 200px;
    background-color: darkgoldenrod;
    border: black;;
}